h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    width: 480px;
    height: 480px;
    border: 2px solid black;
}

.grid-element {
    background-color: white;
	transition: background-color 0.3s ease-in-out;
    user-select: none;
}

.grid > .grid-element:hover {
    background-color: #ddd;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}

.block-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-container button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.block-container input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
